* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: Poppins, sans-serif;
    color: #fff;
  }
  body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.postimg.cc/RFqSM2rc/bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .content {
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(13px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px 35px;
  }
  .content h2 {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
  }
  .content .input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin: 30px 0;
  }
  .content .input-box input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
  }
  input::placeholder {
    color: #fff;
    font-size: 16px;
  }
  .input-box i {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
  }
  .content .remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -16px 0 16px;
  }
  .remember label input {
    accent-color: #fff;
    margin-right: 4px;
  }
  .remember a {
    color: #fff;
    text-decoration: none;
  }
  .remember a:hover {
    text-decoration: underline;
  }
  .btnn {
    display: inline-block;
    background: #fff;
    color: #0a2862;
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
    height: 45px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 16px;
  }
  .button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
  .button a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }
  .button a i {
    font-size: 20px;
    margin-right: 8px;
  }
  .button a:hover {
    opacity: 0.8;
  }
  input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  
  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
  
  input::-webkit-credentials-auto-fill-button,
  input::-webkit-clear-button,
  input::-webkit-inner-spin-button,
  input::-webkit-contacts-auto-fill-button {
    display: none !important;
    visibility: hidden !important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
 
#myvideo{
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
#videobg{
     object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
background-color: rgb(63, 62, 62,0.5 );

  z-index: -1;
}

  .mainbox {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .userform {
    background-color: transparent; 
    padding: 35px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0px 5px rgba(247, 224, 76, 0.2); 
    border: 2px solid #cabb62;
    text-align: center;
    color: #cabb62;
  }

  .userh {
    color: #cabb62;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
  }

  .userinput {
    width: 100%;
    padding: 17px 9px;
    margin-bottom: 20px;
    background-color: transparent;
    color: #cabb62;
    border: 1px solid #cabb62;
    border-radius: 10px;
    font-size: 15px;
    box-shadow:  0 0 5px rgba(255, 221, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .userinput:focus {
    border-color: #cabb62;
    box-shadow: 0 0 8px rgba(255, 221, 0, 0.6);
    outline: none;
  }

  .userinput::placeholder {
    color: #cabb62;
    background-color: transparent;
    opacity: 0.9;
  }

  .userbutton {
    width: 100%;
    padding: 12px;
    background-color: #cabb62;
    color: #000;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .userbutton:hover {
    background-color: #b3a747;
  }

  .linktag {
    color: #cabb62;
    text-decoration: none;
    float: left;
    padding-top: 10px;
  }
  